.button {
    font-size: 1.4rem;
    background-color: #f0f0f0;
    width: 100%;
    height: 100%;
    border: none;
    border-right: solid 1px #888;
    border-bottom: solid 1px #888;
    outline: none;
}

.button:active {
    background-color: #ccc;
}

.double {
    grid-column: span 2;
}

.triple {
    grid-column: span 3;
}

.operation {
    background-color: #fa8231;
    color: #fff;
}

.button.operation:active {
    background-color: #fa8231cc;
}